<h4 style="font-family:'Comic Sans MS'">New Place</h4>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name:" , :class => "form-label"   %>
    <%= form.text_field "name"%>
  </p>
  <p>
    <%= form.submit "Create place", :class => "btn btn-outline-info"%>
  </p>
<% end %>